body {
  background-color: Wheat;
  color: Indigo;
  font-family: 'Ubuntu', sans-serif;
  font-size: 18px;
}

header, section, footer {
  padding: 30px;

}

h1 {
  color: blue;
    font-size: 36px;
}

/* I am Commenting! */
* {
  font-size: 100%;
  margin: 0;
  line-height: 1;
  box-sizing: border-box;
  /* border: 1px solid red; */
}


h2 {
  font-size: 24px;
}

h3 {
  font-size: 18px;
}
  h1, h2, h3 {
    font-weight: bold;
}

p {
    line-height: 2;
}
  h1 {
  text-align: left;
}
header h1{
  text-align: center;
}
a {
  color: blue;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
h1, h2, h3 {
  margin-bottom: 20px;
}
p {
  margin: 15px 0;
}

ul, ol {
  margin: 15px 0;
}

header {
  border-bottom: 5px solid grey;
}

img {
  height: 300px;
}

.title {
  font-size: 48px;
  text-decoration: underline;
}
.container{
  max-width: 1000px;
  margin: 0 auto;
  border: 2px solid black;
}
.banner {
  height: 350px;
  background-image: url(images/savings.png);
  background-size: auto;
  background-position: center;
}
